*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    }
    
    nav{
        display: flex;
        justify-content: space-around;
        align-items: center;
        min-height: 8vh;
        font-family: 'Poppins', sans-serif;
        background-color: #5D4954;

    }
    .logo{ 
        color:  rgba(255,73,95);
        font-weight: bold;
        font-size: 22px; 
        
    }

.nav-links{
        display: flex; 
        justify-content: space-around;
        width: 30%;
    }

.nav-links li{
        list-style: none;
    }
 
.nav-links a {
    color: rgb(243, 59, 80);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}

.burger{
    display: none;
    cursor: pointer;
    
}
.burger div {
    width: 25px;
    height: 3px;
    background-color:rgba(255,73,95);
    margin: 5px;
 
}
footer {
    background-color: #5D4954;
    height: 8vh;
}   

footer p{
    text-align: center;
    color: rgba(255,73,95);

}
    
.header {
    background-image: url("static/public_profiles/pic.jpg"); /* How do we link this in django? */
    background-size: cover;
    background-position:center;
    padding: 60px;
    text-align: center; 
    color:black;
    font-size: 30px;
  }

  .header h1 {
      font-weight: bold;
      font-size: 150%;
      font: 300;
  }

.login-page{
    width: 360px;
    padding: 10% 0 0;
    margin: auto;
    margin-bottom:10%;
}

.form{
    position: relative;
    z-index: 1;
    background: rgba(255,73,95,0.8);
    max-width: 0 auto 100px;
    padding: 45px;
    text-align: center;
}

.form input{
    font-family: "Roboto", sans-serif;
    outline: 1;
    background:#f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}


.form button{
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #808080;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #ffffff;
    font-size: 14px;
    cursor: pointer;

}

.form button:hover, .form button:active{
    background: rgb(134, 67, 160);
}

.form .message{
    margin: 15px;
    color: aliceblue;
    font-size: 12px;
}

.form .message a {
    color:black;
    text-decoration: none;

}

.form .register-form{
    display: none;
}
@media screen and (max-width:768px){

    body{
        overflow-x: hidden;
    }
   
    .nav-links{
      position: absolute;
      right:0px;
      height: 92vh;
      top:8vh;
      background-color: #5D4954;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 50%;
      transform: translateX(100%);
      transition: transform 0.5s ease-in;

    }
}   
    .nav-links li{
        opacity:0;

    }
    .Burger{
        display: block;
        
    }
    .nav-active{
        transform: translateX(0%);
    }

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}
