{% load static %}
<!--Custom JS-->

<!DOCTYPE html>
<html lang="en">
  <head>
    <!--Meta Tags-->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <!--Bootstrap CSS-->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"/>
    <!--custom CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'public_profiles/css/main.css' %}">
    <!--Bootstrap JS-->
    <script 
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
    <!--Font family-->
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet"/>

    {% if title%}
        <title>Classified Ads - {{ title }}</title>
    {% else %}
        <title>Classified Ads</title>
    {% endif %}

  </head>

  <body>
    <nav>
      <div class="logo">
        <h4>
            <a href="{% url 'classified-home' %}">Frauenloop</a>
        </h4>
        <!--<img src="{% static "public_profiles/pic.jpg" %}" alt="My image"> This works! -->
      </div>

      <!--is there a way of making the image a background image using bootstrap?-->
      <ul class="nav-links">
        <li><a href="{% url 'classified-home' %}">Home</a></li>
        <li><a href="{% url 'classified-about' %}">About</a></li>

        {% if user.is_authenticated %}
          <li><a href="{% url 'profiles-developer' %}">Profile</a> </li>
          <li><a href="{% url 'logout' %}">Logout</a></li>
        {% else %}
          <li><a href="{% url 'register' %}">Register</a> </li>
          <li><a href="{% url 'login' %}">Login</a></li>
        {% endif %} 

      </ul>
      
      <div class="burger">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
      </div>
    </nav>

    <div class="header">
      <h1>FRAUENLOOP CLASSIFIED ADS</h1>
    </div>

    {% if messages %}
      {% for message in messages %}   <!-- if there are alerts for the user they are displayed here-->
          <div class="alert alert-{{ message.tags }}">
              {{ message }}
          </div>
      {% endfor %}
    {% endif %}

    <div class="container mt-4">
      {% block content %}{% endblock %} <!-- here comes the content in all the other files that are based on this file-->
    </div>
    
    <footer>
      <p>2019</p>
    </footer>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="{% static 'public_profiles/js/app.js' %}"></script>

  </body>
</html>
