{% extends "public_profiles/base.html" %}
{% block content %}
<div class="profile-items-container">
    {% for profile in profiles %}
    <div class="profile-item">
        <h1>{{ profile.user }}</h1>
        <p>Skills: {{ profile.skills }}</p>
        <p>Languages: {{ profile.languages }}</p>
        <p>{{ profile.user }} doesn't like {{ profile.dislikes}}</p>
        <p>{{ profile.user }} likes {{ profile.likes }}</p>
        <p>Github: {{ profile.github }}</p>
    </div>
    {%  endfor %}
</div>
{% endblock content %}