
.header {
    background-image: url("pic.jpg");
    background-size: cover;
    background-position:center;
    padding: 60px;
    text-align: center; 
    color:black;
    font-size: 30px;
  }

 
.login-page{
    width: 360px;
    padding: 10% 0 0;
    margin: auto;
}

.form{
    position: relative;
    z-index: 1;
    background: rgba(255,73,95,0.8);
    max-width: 0 auto 100px;
    padding: 45px;
    text-align: center;
}

.form input{
    font-family: "Roboto", sans-serif;
    outline: 1;
    background:#f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.form button{
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #808080;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #ffffff;
    font-size: 14px;
    cursor: pointer;

}

.form button:hover, .form button:active{
    background: rgb(134, 67, 160);
}

.form .message{
    margin: 15px;
    color: aliceblue;
    font-size: 12px;
}

.form .message a {
    color:black;
    text-decoration: none;

}

.form .register-form{
    display: none;
}